@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Inter:wght@200;400;700&family=Manrope:wght@400;700;800&display=swap");

:root {
	/* --primary-color: #e2e2e2; */
	/* --accent-color: #020202; */

	--border: 2px solid var(--accent-color);
	--padding: 5px 20px;
}

* {
	transition: all 0.2s;

	text-underline-offset: 10px;
}

a {
	text-decoration: none;
	cursor: url("../assets/cursor.svg") 12.5 12.5, auto;
}

a:hover {
	text-decoration: underline;

	cursor: url("../assets/hover-cursor.svg") 40 40, auto;
}

html,
body {
	height: auto;
}

body {
	padding: 0px;
	margin: 0px;

	font-family: "Manrope", sans-serif;

	cursor: url("../assets/cursor.svg") 12.5 12.6, auto;
	transition: cursor 1s ease;
}

.nav {
	display: flex;
	justify-content: space-between;

	align-content: center;
}

.btn {
	text-decoration: none;

	/* border-radius: 50px;
	border: var(--border); */

	padding: var(--padding);
	margin: 10px 0px;

	text-transform: uppercase;

	height: fit-content;

	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
}

.btn:hover {
	/* color: var(--primary-color); */
	/* background: var(--accent-color); */
}

.intro-title {
	/* color: #020202; */
	font-family: Manrope;
	font-size: 64px;
	font-style: normal;
	font-weight: 800;
	line-height: normal;
	text-transform: uppercase;
}

.intro-description {
	/* color: #020202; */
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.contact-text {
	/* color: #020202; */
	font-family: Manrope;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.credit-heading {
	/* color: #020202; */
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.credit-value {
	/* color: #020202; */
	font-family: Manrope;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.comma-after:not(:last-child)::after {
	content: ", ";
}

main {
	scroll-snap-type: y mandatory;
}

section {
	top: 0;

	scroll-snap-align: start; /* Enables snapping behavior */
}

.horizontal-text {
	/* color: #e2e2e2; */
	font-family: Manrope;
	font-size: 40px;
	font-style: normal;
	font-weight: 800;
	line-height: 39px; /* 97.5% */
	text-transform: uppercase;
}

.project-title {
	font-family: Manrope;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.marquee {
	position: relative;
	width: 100vw;
	max-width: 100%;
	overflow-x: hidden;
}

.track {
	position: absolute;
	white-space: nowrap;
	will-change: transform;
	animation: marquee 30s linear infinite;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}

a.flip-animate {
	perspective: 1000px;
}
a.flip-animate span {
	position: relative;
	display: inline-block;
	padding: 0;
	transition: transform 0.3s;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
}

a.flip-animate span:before {
	/* opacity: 0; */

	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	content: attr(data-hover);
	transition: color 0.3s;
	transform: rotateX(-90deg);
	transform-origin: 50% 0;
}
a.flip-animate:hover span,
a.flip-animate:focus span {
	transform: rotateX(90deg) translateY(-22px);
}
a.flip-animate:hover span:before,
a.flip-animate:focus span:before {
	/* opacity: 1; */
}

.scroll-down {
	animation: rotation 80s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.flip-container {
	perspective: 1000;
}

.flip-container:hover .card {
	transform: rotateY(180deg);
}

.card {
}
.card {
	transition: 0.5s;
	transform-style: preserve-3d;
	position: relative;
}
.front,
.back {
	backface-visibility: hidden;
	position: absolute;
}
.front {
	z-index: 1;
	transform: rotateY(180deg);
}
.back {
	z-index: 2; /* back side, placed above front */
	transform: rotateY(0deg);
}

.square {
	aspect-ratio: 1 / 1;
	max-height: 100%;
	width: 100%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	place-content: center;
}

.hover-paused-animate:hover {
	animation-play-state: paused;
}
.hover-paused-animate:hover > * {
	animation-play-state: paused;
}
