@font-face {
  font-family: "VCR_OSD_MONO_1";
  src: url("public/fonts/VCR_OSD_MONO_1.ttf"),
    url("public/fonts/VCR_OSD_MONO_1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: #c6c6c6;
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-family: "VCR_OSD_MONO_1";
  font-size: 35px;
  letter-spacing: 5px;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: smaller;
  letter-spacing: 3px;
}

.glitch-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.glitch {
  position: relative;
  display: inline-block;
}
.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
}
.glitch::before {
  left: 2px;
  text-shadow: -2px 0 #47fc0066;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 3s infinite linear alternate-reverse;
}
.glitch::after {
  left: -2px;
  text-shadow: -2px 0 #67008f;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 2.5s infinite linear alternate-reverse;
}
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(124px, 9999px, 55px, 0);
  }
  4.166666666666666% {
    clip: rect(50px, 9999px, 6px, 0);
  }
  8.333333333333332% {
    clip: rect(94px, 9999px, 13px, 0);
  }
  12.5% {
    clip: rect(112px, 9999px, 129px, 0);
  }
  16.666666666666664% {
    clip: rect(122px, 9999px, 89px, 0);
  }
  20.833333333333336% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(117px, 9999px, 58px, 0);
  }
  29.166666666666668% {
    clip: rect(135px, 9999px, 60px, 0);
  }
  33.33333333333333% {
    clip: rect(0px, 9999px, 107px, 0);
  }
  37.5% {
    clip: rect(141px, 9999px, 15px, 0);
  }
  41.66666666666667% {
    clip: rect(133px, 9999px, 3px, 0);
  }
  45.83333333333333% {
    clip: rect(40px, 9999px, 130px, 0);
  }
  50% {
    clip: rect(138px, 9999px, 85px, 0);
  }
  54.166666666666664% {
    clip: rect(40px, 9999px, 130px, 0);
  }
  58.333333333333336% {
    clip: rect(41px, 9999px, 143px, 0);
  }
  62.5% {
    clip: rect(128px, 9999px, 51px, 0);
  }
  66.66666666666666% {
    clip: rect(5px, 9999px, 59px, 0);
  }
  70.83333333333334% {
    clip: rect(14px, 9999px, 25px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 122px, 0);
  }
  79.16666666666666% {
    clip: rect(15px, 9999px, 10px, 0);
  }
  83.33333333333334% {
    clip: rect(51px, 9999px, 134px, 0);
  }
  87.5% {
    clip: rect(22px, 9999px, 64px, 0);
  }
  91.66666666666666% {
    clip: rect(39px, 9999px, 32px, 0);
  }
  95.83333333333334% {
    clip: rect(26px, 9999px, 101px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 87px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(124px, 9999px, 55px, 0);
  }
  4.166666666666666% {
    clip: rect(50px, 9999px, 6px, 0);
  }
  8.333333333333332% {
    clip: rect(94px, 9999px, 13px, 0);
  }
  12.5% {
    clip: rect(112px, 9999px, 129px, 0);
  }
  16.666666666666664% {
    clip: rect(122px, 9999px, 89px, 0);
  }
  20.833333333333336% {
    clip: rect(30px, 9999px, 92px, 0);
  }
  25% {
    clip: rect(117px, 9999px, 58px, 0);
  }
  29.166666666666668% {
    clip: rect(135px, 9999px, 60px, 0);
  }
  33.33333333333333% {
    clip: rect(0px, 9999px, 107px, 0);
  }
  37.5% {
    clip: rect(141px, 9999px, 15px, 0);
  }
  41.66666666666667% {
    clip: rect(133px, 9999px, 3px, 0);
  }
  45.83333333333333% {
    clip: rect(40px, 9999px, 130px, 0);
  }
  50% {
    clip: rect(138px, 9999px, 85px, 0);
  }
  54.166666666666664% {
    clip: rect(40px, 9999px, 130px, 0);
  }
  58.333333333333336% {
    clip: rect(41px, 9999px, 143px, 0);
  }
  62.5% {
    clip: rect(128px, 9999px, 51px, 0);
  }
  66.66666666666666% {
    clip: rect(5px, 9999px, 59px, 0);
  }
  70.83333333333334% {
    clip: rect(14px, 9999px, 25px, 0);
  }
  75% {
    clip: rect(12px, 9999px, 122px, 0);
  }
  79.16666666666666% {
    clip: rect(15px, 9999px, 10px, 0);
  }
  83.33333333333334% {
    clip: rect(51px, 9999px, 134px, 0);
  }
  87.5% {
    clip: rect(22px, 9999px, 64px, 0);
  }
  91.66666666666666% {
    clip: rect(39px, 9999px, 32px, 0);
  }
  95.83333333333334% {
    clip: rect(26px, 9999px, 101px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 87px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(54px, 9999px, 140px, 0);
  }
  10% {
    clip: rect(11px, 9999px, 55px, 0);
  }
  13.333333333333334% {
    clip: rect(81px, 9999px, 37px, 0);
  }
  16.666666666666664% {
    clip: rect(79px, 9999px, 52px, 0);
  }
  20% {
    clip: rect(33px, 9999px, 139px, 0);
  }
  23.333333333333332% {
    clip: rect(6px, 9999px, 71px, 0);
  }
  26.666666666666668% {
    clip: rect(43px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(83px, 9999px, 104px, 0);
  }
  33.33333333333333% {
    clip: rect(10px, 9999px, 66px, 0);
  }
  36.666666666666664% {
    clip: rect(11px, 9999px, 139px, 0);
  }
  40% {
    clip: rect(118px, 9999px, 22px, 0);
  }
  43.333333333333336% {
    clip: rect(14px, 9999px, 75px, 0);
  }
  46.666666666666664% {
    clip: rect(3px, 9999px, 65px, 0);
  }
  50% {
    clip: rect(138px, 9999px, 28px, 0);
  }
  53.333333333333336% {
    clip: rect(101px, 9999px, 129px, 0);
  }
  56.666666666666664% {
    clip: rect(63px, 9999px, 93px, 0);
  }
  60% {
    clip: rect(95px, 9999px, 11px, 0);
  }
  63.33333333333333% {
    clip: rect(35px, 9999px, 94px, 0);
  }
  66.66666666666666% {
    clip: rect(22px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(72px, 9999px, 10px, 0);
  }
  73.33333333333333% {
    clip: rect(46px, 9999px, 94px, 0);
  }
  76.66666666666667% {
    clip: rect(80px, 9999px, 134px, 0);
  }
  80% {
    clip: rect(103px, 9999px, 3px, 0);
  }
  83.33333333333334% {
    clip: rect(94px, 9999px, 68px, 0);
  }
  86.66666666666667% {
    clip: rect(14px, 9999px, 89px, 0);
  }
  90% {
    clip: rect(20px, 9999px, 137px, 0);
  }
  93.33333333333333% {
    clip: rect(28px, 9999px, 31px, 0);
  }
  96.66666666666667% {
    clip: rect(4px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(18px, 9999px, 15px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(54px, 9999px, 140px, 0);
  }
  10% {
    clip: rect(11px, 9999px, 55px, 0);
  }
  13.333333333333334% {
    clip: rect(81px, 9999px, 37px, 0);
  }
  16.666666666666664% {
    clip: rect(79px, 9999px, 52px, 0);
  }
  20% {
    clip: rect(33px, 9999px, 139px, 0);
  }
  23.333333333333332% {
    clip: rect(6px, 9999px, 71px, 0);
  }
  26.666666666666668% {
    clip: rect(43px, 9999px, 46px, 0);
  }
  30% {
    clip: rect(83px, 9999px, 104px, 0);
  }
  33.33333333333333% {
    clip: rect(10px, 9999px, 66px, 0);
  }
  36.666666666666664% {
    clip: rect(11px, 9999px, 139px, 0);
  }
  40% {
    clip: rect(118px, 9999px, 22px, 0);
  }
  43.333333333333336% {
    clip: rect(14px, 9999px, 75px, 0);
  }
  46.666666666666664% {
    clip: rect(3px, 9999px, 65px, 0);
  }
  50% {
    clip: rect(138px, 9999px, 28px, 0);
  }
  53.333333333333336% {
    clip: rect(101px, 9999px, 129px, 0);
  }
  56.666666666666664% {
    clip: rect(63px, 9999px, 93px, 0);
  }
  60% {
    clip: rect(95px, 9999px, 11px, 0);
  }
  63.33333333333333% {
    clip: rect(35px, 9999px, 94px, 0);
  }
  66.66666666666666% {
    clip: rect(22px, 9999px, 86px, 0);
  }
  70% {
    clip: rect(72px, 9999px, 10px, 0);
  }
  73.33333333333333% {
    clip: rect(46px, 9999px, 94px, 0);
  }
  76.66666666666667% {
    clip: rect(80px, 9999px, 134px, 0);
  }
  80% {
    clip: rect(103px, 9999px, 3px, 0);
  }
  83.33333333333334% {
    clip: rect(94px, 9999px, 68px, 0);
  }
  86.66666666666667% {
    clip: rect(14px, 9999px, 89px, 0);
  }
  90% {
    clip: rect(20px, 9999px, 137px, 0);
  }
  93.33333333333333% {
    clip: rect(28px, 9999px, 31px, 0);
  }
  96.66666666666667% {
    clip: rect(4px, 9999px, 65px, 0);
  }
  100% {
    clip: rect(18px, 9999px, 15px, 0);
  }
}
