<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ seo.siteTitle }}</title>
    <meta name="description" content="{{ seo.siteDescription }}">
    <meta name="keywords" content="{{ seo.siteKeywords }}">
    <meta name="author" content="{{ seo.siteAuthor }}">
    <link rel="icon" type="image/x-icon" href="assets/favIcon.svg">
    <!-- STYLE -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.css" />
    <link rel="stylesheet" href="https://codepen.io/GreenSock/pen/7ba936b34824fefdccfe2c6d9f0b740b.css" />
    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- LOCO -->
    <!-- <script src="js/locomotive-scroll.min.js"></script>
    <link rel="stylesheet" href="css/locomotive-scroll.css" /> -->
    <!-- GSAP -->
    <!-- <!-- <script src="js/gsap-latest-beta.min.js"></script> -->
    <!-- <script src="js/gsap-latest-beta.min.js"></script>
    <script src="js/scrollTrigger.min.js"></script> -->
    <script src="https://unpkg.co/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
    <script src="js/index.js"></script>

    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors:
                    {
                        "black": "#1d1d1f",
                        "white": "#fbfbfd",
                        "accent": "#0027F7"
                    }
                }
            }
        }

    </script>


</head>

<body>
    <main class="smooth-scroll">
        <section data-color="#fbfbfd" id='intro' class="section h-screen">
            <div class="mx-auto px-4 py-8 
                grid auto-rows-fr
                sm:
                md:grid-cols-8 
                lg:grid-cols-12
                grid-rows-7 gap-4 
                items-end 
                h-screen
                ">
                <!-- HEADING -->
                <h6 class="
                    row-start-1 col-span-1 
                    md:col-start-2
                    flex items-center
                    font-['Manrope'] text-black text-2xl font-bold uppercase leading-7 self-center">
                    <img src="assets/logo.svg" alt="logo" class="mr-2" />
                    {{ intro.name | safe }}
                </h6>
                <h6 class="row-start-1 
 col-start-7 col-span-1 
                    font-['Manrope'] text-black text-2xl font-bold uppercase leading-7 self-center">
                    {{ intro.position | safe}}
                </h6>
                <h6 class="row-start-1

                 col-start-4 md:col-start-9  col-span-2
                    font-['Manrope'] text-black text-2xl font-bold uppercase leading-7 self-center">
                    {{ intro.location | safe }}
                </h6>
                <h6 class="row-start-1 col-start-4 md:col-start-11  col-span-1
                                    font-['Manrope'] text-black text-2xl font-bold uppercase leading-7 self-center">
                    {{ intro.version | safe }}
                </h6>

                <h1 class="
                    md:col-start-2
                row-start-4 row-span-3 col-start-1 col-span-8
                self-start
                font-['Manrope']
                    text-black 
font-normal
                   text-[80px] 
                    leading-[92px]">
                    {{ intro.title | safe }}
                </h1>
                <div class="
                opacity-50
                self-start
                 row-start-4 row-span-2 col-start-7 col-span-4 font-['Manrope'] text-black text-[32px] font-400">
                    {{ intro.description | safe }}
                </div>

                <!-- INTRO-IMG -->
                <div class="
                row-start-3 row-span-1 col-start-2 col-span-4  w-full h-full 
                flex items-end
                    ">
                    <div class="flip-container block square rounded-full overflow-hidden bg-[blue]
                        hover:cursor-none">
                        <div class="card">
                            <div class="front">
                                <img src="assets/portrait.jpg" class="
                                    w-full h-full object-cover scale-125">
                            </div>
                            <div class="back">
                                <img src="assets/emoji.png" class="  w-full h-full object-cover scale-115"
                                    alt="Front Image">
                            </div>
                        </div>
                    </div>


                    <h6 class="ml-4">
                        <a href={{ intro.link }} target="_blank" class="
                                        no-underline
                                        text-[40px] text-black font-normal
                                        hover:text-[#0000E0]
                                        hover:n0-underline
                                        after:content-['_↗']
                                        after:align-bottom
                                        flip-animate
                                                        ">
                            <span data-hover="{{ intro.greeting }}" class="
                                        
                                            ">
                                {{ intro.greeting | safe }}
                            </span>
                        </a>
                    </h6>
                </div>

                <!-- SCROLL-DOWN -->
                <div class="row-start-6 row-span-2 col-start-7 col-span-2 
                     w-full h-full 
                     flex justify-center items-center
                     ">
                    <a class="block square
                    group
                    bg-black
                    hover:bg-[blue]
                    hover:cursor-none
                    rounded-full overflow-hidden
                    relative
                    ">
                        <img src="assets/scroll-down.svg" class="
                            absolute
                        invert
                        group-hover:invert
                        w-full
                        h-full
                        motion-safe:animate-[spin_15s_linear_infinite;]">
                        <span class="
                            w-full h-full
                            flex justify-center items-center
                            absolute
                            invert
                            group-hover:invert
                            font-['Inter']
                            font-300
                            text-red text-center text-[80px] ">
                            ↓
                        </span>
                    </a>
                </div>

                <!-- CONTACT -->
                <h6 class="
                row-start-6
                md:col-start-2
                row-span-2 
                col-start-1
                col-span-5
                font-['Manrope']
                text-black
                text-[31px]
                font-normal
                ">
                    {{ contact.title }}
                    <div class="my-6">
                        {% for platform in contact.platforms %}
                        <a href={{ platform.link }} target="_blank" class="btn border-2 rounded-full border-black
                        after:content-['_↗']
                        after:align-bottom
                       hover:cursor-none
                                    hover:text-white
                                    hover:bg-[#0000E0]
                                    hover:text-black
                                    hover:no-underline
                                    flip-animate
                                    ">

                            <span data-hover={{platform.name}}>
                                {{ platform.name }}</span>
                        </a>
                        {% endfor %}
                    </div>

                    <a href="mailto: {{contact.alternative.link}}" class="
                                    hover:cursor-none
                                    hover:underline
                                    hover:text-[#0000E0]
                                    after:content-['_↗']
                                    after:align-bottom
                                    flip-animate
                                    ">
                        <span data-hover="{{contact.alternative.text}}" class="">
                            {{ contact.alternative.text }}</span>
                    </a>
                </h6>
            </div>
        </section>

        <section data-color="#1d1d1f" id='projects' class="section min-h-screen text-white">
            <div class="scrolling_text_wrapper w-mx py-8 my-4 horizontal-text bg-accent">
                <div class="scrolling_text">
                    {% for _ in range(8) %}
                    <span>
                        {{ projects.title }} • </span>
                    {% endfor %}
                </div>
            </div>


            <div class="container mx-auto px-4 w-full">
                {% for project in projects.projects %}
                <a href={{ project.link }} target="_blank" class="
                project-title
                flex justify-between
                border-white border-y-2 p-6 
                col-span-4 col-start-1 row-start-{{loop.index}}
                after:content-['_↗']
                after:align-bottom
                            hover:cursor-none
                            hover:no-underline
                            hover:bg-accent
                            hover:text-white
                            hover:border-none
                            ">
                    <span data-hover="{{loop.index}}.{{ project.title }}">
                        {{loop.index}}.{{ project.title }}</span>
                </a>

                {% endfor %}
            </div>

        </section>

        <section data-color="#1d1d1f" id='credits' class="section">
            <div id='credits' class="d-flex justify-items-end bg-black text-white">
                <div class="container mx-auto p-4  grid grid-cols-4 grid-rows-2 gap-2 items-center">
                    <div class="row-start-1 col-start-1">
                        <h6 class="contact-text uppercase">
                            {{ credits.title }}
                        </h6>
                    </div>
                    <div class="row-start-3  col-start-1 col-start-1 ">
                        <div class="credit-heading">
                            Font-family</div>
                        <div class="credit-value">

                            Manrope</div>
                    </div>
                    <div class="row-start-3  col-start-2 ">
                        <div class="credit-heading">

                            Development</div>
                        <div class="credit-value">

                            HTML, CSS, Tailwind</div>
                    </div>
                    <div class="row-start-3  col-start-3 ">
                        <div class="credit-heading">

                            Design and Code</div>
                        <div class="credit-value">

                            Shelomoh</div>
                    </div>
                    <div class="row-start-3  col-start-4">
                        <div class="credit-heading">
                            Deployment</div>
                        <div class="credit-value">
                            Vercel</div>

                    </div>
                </div>

                <div class="scrolling_text_wrapper w-mx py-8 mt-4 horizontal-text ">
                    <div class="scrolling_text">
                        {% for _ in range(8) %}
                        <span>
                            thanks for visting •
                        </span>
                        {% endfor %}
                    </div>
                </div>


        </section>

        <footer class="bg-black text-white">
            <div class="container mx-auto py-4 uppercase">
                {{ footer.copyright }}
            </div>
        </footer>
    </main>

</body>

</html>