@import "style-variables";

$dash-width: 35px;
$dash-height: 5px;
$dash-space: 1vw;

$title-size: 38px;
$title-weight: 400;
$title-text-tranform: capitalize;

$des-size: 18px;

.layout-container {
  margin: 4vh 8vw;

  .main-container {
    margin: 0;
    // height: calc(85vh - 132px);
    // height: auto;
    height: 65vh;


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    .index-container {
      margin: 0;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;

      .index-title {
        font-family: $heading-font;
        font-size: 32px;
        word-wrap: break-word;
        font-weight: 400;
      }

      .index-des {
        margin-top: 4vh;
        font-size: 18px;
        color: $accent-darker;
        transition: color 0.8s;

        :hover {
          color: $accent;
          transition: color 0.8s;
        }

        .dash-line-animation {
          height: 3px;
          margin: 9px 0 3px 1vw;
        }
      }
    }

    .header-container {
      order: 1;
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0;
      overflow: auto;

      .attribute-container {
        .attribute-item {
          margin-top: 3vh;

          .attribute-lable {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            opacity: 0.5;
          }

          .attribute-detail {
            // font-size: 1.2rem;
            display: flex;
            font-family: $heading-font;
            font-size: 22px;
          }
        }
      }
    }
  }
}

.project-img-container,
.img-container {
  overflow: hidden;
}

.info-image-container {
  height: 250px;
  opacity: 0.9;

  background-color: $primary-color;

  img {
    mix-blend-mode: luminosity;
  }
}

.project-container,
.contact-container {
  order: 2;
  flex-basis: 100%;
  margin-top: 3vh;
  overflow-y: scroll;



  .project-des,
  .feature-topic-des,
  .contact-detail-des {
    font-size: 16px;
    text-align: left;
    line-height: 22px;
    font-weight: 300;
    margin-top: 8px;

  }
}

.project-container {
  .project-preview-wrapper {
    display: grid;
  }

  .project-topic-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 8vh;

    .project-topic-title-col {
      order: 1;
      flex-basis: 100%;

      .heading-container>.project-topic-title,
      .feature-topic-title {
        padding-right: 0.8vw;
      }
    }

    .project-topic-content-col {
      order: 2;
      flex-basis: 100%;
    }
  }

  .feature-topic-container {
    margin: 18vh 0 auto;

    .feature-topic-double-col-container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;

      .feature-topic-content-col {
        flex-basis: 100%;
      }

      .feature-topic-cover-col {
        margin-top: 3vh;
        flex-basis: 100%;
      }
    }

    .feature-img-container {
      margin: 3vh 0px 5vh;
    }
  }

  .feature-img-container {
    margin: 5vh 0;

    .feature-img-row-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;

      .feature-img {
        // width: 32.6666666666%;
        // height: 15vh;
        // background-color: $primary-color;
        transform: scale(1);
        // transition: all 0.6s;
        // position: initial !important;

        // &::after {
        //   content: "";
        //   display: block;
        //   width: 0%;
        //   height: $dash-height;
        //   background-color: $accent;
        //   position: absolute;
        //   bottom: 0;
        //   z-index: -2;
        //   transition: width 0.8s;
        // }
      }
    }
  }

  .last-project-divider {
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;

    .divider {
      width: 100%;
      margin: 2vh 0 1vh;
    }

    .more-to-come {
      font-family: $heading-font;
      font-size: 20px;
    }

  }
}

.contact-container {
  .contact-image-container {
    flex-basis: 35%;
    order: 1;
    overflow: hidden;
    height: calc(95vh - 205px);
    background-color: $primary-color;
    opacity: 0.9;

    img {
      mix-blend-mode: luminosity;
    }

    img:hover {
      mix-blend-mode: normal;
    }
  }

  .contact-detail-container {
    flex-basis: 100%;
    order: 2;
    padding: 0;
    margin-top: 3vh;

    .contact-detail-heading {
      margin-bottom: 2vh;
    }
  }

  .contact-bottom-divider {
    flex-basis: 100%;
    order: 3;
  }

  .contact-content-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contact-title-col {
    width: 100%;

    .contact-title {
      font-size: 38px;
      margin-top: 0;
      font-family: Forum;
      text-transform: $title-text-tranform;
    }
  }

  .download-cv-container {
    margin-top: 6vh;
  }

  .contact-content-col {
    order: 2;
    flex-basis: 100%;
    margin-top: 0.8em;
    font-size: 20px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 0px;

    li {
      list-style-type: circle;
    }

    h5 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0.3em;
    }

    p {
      font-size: 16px;
    }

    .contact-year {
      text-transform: uppercase;
      font-size: 14px;
      opacity: 0.5;
    }

    .contact-detail-heading {
      font-family: $heading-font;
      font-size: 38px;
      margin: 3vh 0;
    }
  }

  .contact-li {
    margin: 0px;
    font-size: 18px;
    line-height: 24px;
  }
}


.contact-content-container {
  margin-bottom: 12vh;
}

.feature-topic-title-container {
  margin-bottom: 2vh;
}

.dash-line {
  display: inline-block;
  background-color: $accent;
  animation: dashOpenAni 0.8s;
}

.dash {
  display: inline-block;
  width: $dash-width;
  height: $dash-height;
  // margin-bottom: 9px;
  margin: 9px 1vw;
  background-color: $accent;
  animation: dashOpenAni 0.8s;
}

.dash-left {
  display: inline-block;
  width: $dash-width;
  height: $dash-height;
  // margin-bottom: 9px;
  margin: 9px 1vw 9px 0;
  background-color: $accent;
  animation: dashOpenAni 0.8s;
}

.dash-right {
  display: inline-block;
  width: $dash-width;
  height: $dash-height;
  // margin-bottom: 9px;
  margin: 9px 0 5px 1vw;
  background-color: $accent;
  animation: dashOpenAni 0.8s;
}

.heading-dash-right {
  display: inline-block;
  width: $dash-width;
  height: $dash-height;
  margin-bottom: 16px;
  margin-left: $dash-space;
  background-color: $accent;
  animation: dashOpenAni 0.8s;
}

@keyframes dashOpenAni {
  from {
    opacity: 0;
    width: 0px;
  }

  to {
    opacity: 1;
    width: $dash-width;
  }
}

.project-topic-title,
.feature-topic-title {
  text-transform: $title-text-tranform;
  margin-top: 0;
  background-color: $primary-color;
  font-size: 2rem;
  font-weight: $title-weight;
}

.topbar-item-link-container {
  padding-right: $dash-width;
  position: relative;
  margin-right: 20px;
  transition: 0.8s;

  &:after {
    content: "";
    display: block;
    width: 0%;
    height: $dash-height;
    position: absolute;
    top: 20%;
    z-index: -2;
    transition: 0.8s;
  }
}

.topbar-item-link-container.active:hover::after {
  z-index: 0;
  animation: activeHoverKF 0.8s;
}

.topbar-item-link-container.active:after {
  width: 100%;
  transition: width 0.8s;
  animation: activeKF 0.8s;
  background: $accent;
}

.hover-dash {
  display: inline-block;
  opacity: 0;
  width: 0px;
  height: $dash-height;
  margin-bottom: 6px;
  background-color: $accent;
  transition: all 0.6s;
}

.dash-line-animation {
  display: inline-block;
  width: 5vw;
  height: $dash-height;
  margin: 9px 0 4px 1vw;
  background-color: $accent;
  animation: dashingAnimation 3s infinite;
}

@keyframes dashingAnimation {
  0% {
    background-color: $accent-darker;
    width: 0;
  }

  50% {
    background-color: $accent;
    width: 5vw;
  }

  100% {
    background-color: $accent-darker;
    width: 0;
  }
}

.topbar-item-link-container.active>.topbar-item-link>.hover-dash,
.topbar-item-link-container:hover>.topbar-item-link>.hover-dash {
  width: $dash-width;
  opacity: 1;
  transition: all 0.6s;
  animation: activeLogo 0.8s;
}

.topbar-item-link-container.active:hover>.topbar-item-link>.hover-dash {
  width: 0px;
  opacity: 0;
  z-index: -2;
}

@keyframes activeLogo {
  from {
    opacity: 0;
    width: 0px;
  }

  to {
    opacity: 1;
    width: $dash-width;
  }
}

@keyframes activeHoverKF {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.project-preview-container {
  display: flex;
  flex-direction: column-reverse;
  height: auto;


  .hover-dash {
    display: inline-block;
    opacity: 0;
    width: 0px;
    height: $dash-height;
    margin-bottom: 6px;
    background-color: $accent;
    transition: all 0.6s;
  }

  .project-preview-details-container {
    order: 2;

    .project-preview-details-service {
      text-transform: uppercase;
      font-size: 10px;
      opacity: 0.5;
      margin-bottom: 4px;
      color: $secondary-color;
    }

    .project-preview-details-title {
      font-size: 26px;
      color: $secondary-color;
      font-weight: 400;
    }
  }

  .project-preview-image-container {
    flex-basis: 100%;
    order: 2;
    margin-bottom: 8px;

  }
}

@media only screen and (min-width: 900px) {
  .layout-container {
    margin: 5vh 5vw;

    .main-container {
      margin-left: 60px;
      flex-wrap: nowrap;
      height: calc(95vh - 132px);

      .index-container {
        // margin: 0 16vw 0 0vw;

        .index-title {
          font-size: 60px;
          word-wrap: break-word;
          font-weight: 400;
          width: 870px;
        }

        .index-des {
          margin-top: 9vh;
          font-size: 1.3em;

          .dash-line-animation {
            height: 5px;
            margin: 9px 0 4px 1vw;
          }
        }
      }

      .header-container {
        flex-basis: 25%;
        order: 1;
        padding-right: 1vw;

        .heading-title {
          font-size: 5.8vw;
          // word-wrap: break-word;
          // font-weight: 400;
          // line-height: 50px;
        }

        .attribute-item {
          margin-top: 5vh;
        }
      }

      .project-preview-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        height: 18vw;
        transform: scale(1);
        transition: all 0.6s;


        .project-preview-details-container {
          flex-basis: 35%;
          order: 1;
          padding-right: 1vw;
          text-align: right;
          word-break: break-word;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          .project-preview-details-service {
            font-size: 0.8rem;
            margin-bottom: 2vh;
          }

          .project-preview-details-title {
            font-size: 2em;
          }
        }

        .project-preview-image-container {
          order: 2;

          flex-basis: 65%;
          background-color: $primary-color;

          img {
            mix-blend-mode: luminosity;
          }
        }

        &:hover {
          transform: scale(1.02);

          .hover-dash {
            opacity: 1;
            transition: all 0.6s;
            margin-left: $dash-space;
            height: 2px;
            width: 20px;
          }

          .project-preview-details-container {
            .project-preview-details-title {
              color: $accent;
              font-family: $heading-font;
              font-size: 2.4em;
            }
          }

          img {
            mix-blend-mode: normal;
          }
        }

      }

      .attribute-lable {
        font-size: 1rem;
        margin-bottom: 1vh;
      }

      .attribute-detail {
        font-size: 1.2rem;
      }

      .project-container::-webkit-scrollbar,
      .contact-container::-webkit-scrollbar {
        display: none;
      }

      .project-container {
        overflow-y: scroll;
        -ms-overflow-style: none;
      }

      .contact-container {
        display: flex;
        flex-wrap: wrap;
      }

      .contact-content-col {
        flex-basis: 70%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 3vh;

        .download-cv-container {
          margin: 0;
        }
      }

      .contact-content-container {
        margin-bottom: 8vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
      }

      .contact-title-col {
        order: 1;
        flex-basis: 25%;
        padding-right: 0.8vw;
      }

      .contact-title {
        font-size: $title-size;
        font-weight: $title-weight;
        margin-top: 0;
      }

      .project-container,
      .contact-container {
        flex-basis: 75%;
        order: 2;

        .project-des,
        .feature-topic-des,
        .contact-detail-des {
          font-size: $des-size;
          line-height: 28px;
          font-weight: 300;
        }
      }

      .project-container {

        .project-topic-title,
        .feature-topic-title {
          // font-size: 2.4rem;
          font-size: $title-size;
        }

        .project-des {
          margin-top: 0px;
        }

        .project-topic-container {
          flex-wrap: nowrap;

          .project-topic-title-col {
            order: 1;
            flex-basis: 25%;
            padding-right: 0.8vw;
          }

          .project-topic-content-col {
            order: 2;
            flex-basis: 70%;
          }
        }

        .feature-topic-container {
          margin: 10vh 0 auto;

          .feature-topic-single-content-col {
            margin: 10vh 7vw auto;
          }

          .feature-topic-double-col-container {
            flex-wrap: nowrap;

            .feature-topic-content-col {
              flex-basis: 50%;
              display: flex;
              justify-content: space-between;
              flex-direction: column;
            }

            .feature-topic-cover-col {
              margin: 0;
              flex-basis: 50%;
              overflow: hidden;
            }
          }
        }

        .last-project-divider {
          text-align: right;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .divider {
            width: 80%;
          }

          .more-to-come {
            font-size: 1.8vw;
            margin-left: 15px;
          }
        }
      }

      .contact-container {
        .contact-detail-container {
          flex-basis: 65%;
          padding-left: 2vw;
          margin: 0;
        }
      }
    }
  }
}

.heading-container {
  position: relative;
  margin-bottom: 3vh;

  .heading-title {
    font-family: 'Forum', cursive;
    text-transform: capitalize;
    // font-size: 6vh;
    font-size: 18vw;
    // padding-right: 30px;
  }
}