$primary-font: "Inter",
Roboto,
Helvetica,
Arial,
sans-serif;

$heading-font: "Forum",
cursive;

$accent: #D2453F;
$accent-darker: rgb(133, 39, 36);
$primary-color: #f6f6f6;
$secondary-color: #1f1f1f;