$font-stack-1: "Space Mono",
monospace,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$font-stack-2:-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica;


$primary-color:#f3f3f3;
$secondary-color:#181818;
// $primary-color:#181818;
// $secondary-color:#f3f3f3;